@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');
body{
  background: #111;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.degrees{
  text-transform: uppercase;
  font-size: 50px;
}
.weather-img{
  width: 50px;
  height: 50px;
}
